
/* FONTE DO PROJETO*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* VARIAVEIS CSS */
:root{
  
  --header-height: 4.5rem;

  /* colors */
  --hue: 180;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 50% 35%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
  --background-color-one: black;
  --background-color-two: #191A19;
  /*fonts*/

  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  /*fonts*/

  --title-font: 'Poppins', sans-serif;
  --body-font: 'Poppins', sans-serif;


}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

body::-webkit-scrollbar {
   width: 8px;
   height: 5px;
} 

body::-webkit-scrollbar-thumb {
      background: var(--base-color-alt);
      border-radius: 10px;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

body{
  font-family: var(--body-font);  
  background-color: black; 
  color: var(--text-color-light);
}

html {
  scroll-behavior: smooth;
}

/* NAV STYLES */

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover{
  color: var(--base-color-alt);
  -webkit-font-smoothing:auto
}

nav ul li a::after{
  content: '';
  width: 0%;
  height: 1px;
  background: var(--base-color);
  position: absolute;
  left: 0;
  bottom: -0.6rem; 
  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after{
  width: 100%;

}

.nav {
  display: flex;
  align-items:center;
  justify-content: space-between; 
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
 }

 .nav-links a {
  color: var(--text-color-light);
 }

 .logo{
   font-size: 1.3rem;
 }
 .menu {
  display: flex;
  font-size: 0.9rem;

 } 
 .menu li {
  padding: 5px 14px;
 }

#services i{
  font-size: 2rem;
  color: var(--base-color-alt);

}

h4{
  color: var(--base-color-alt) ;
}

#services{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-card-container{
  display: flex;  
  align-items: center; 
  /* flex-wrap: wrap; */
  gap: 0.8rem;
}

.service-card{
  margin-top: 1rem;
  background-color: #191A19;
  height: 5rem;
  width: 2rem; 
  flex: 1;
  box-shadow: 0px 4px 27px -3px #000000; 
  padding: 1rem;  
  border-bottom: 0.5px solid var(--base-color-alt);
}

.service-card:hover{
  border-bottom: 0.5px solid var(--base-color-alt);
  background-color: black;
  cursor: pointer;
}

.container {
    width: 100%;
    margin: 0 auto;
 }


@media (min-width: 992px){
  .container{
   
  }
}





