
/* FONTE DO PROJETO*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* VARIAVEIS CSS */
:root{
  
  --header-height: 4.5rem;

  /* colors */
  --hue: 180;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 50% 35%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
  --background-color-one: black;
  --background-color-two: #191A19;
  /*fonts*/

  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  /*fonts*/

  --title-font: 'Poppins', sans-serif;
  --body-font: 'Poppins', sans-serif;

  --max-width-container: 70rem


}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

body::-webkit-scrollbar {
   width: 8px;
   height: 5px;
} 

body::-webkit-scrollbar-thumb {
   background: var(--base-color-alt);
   border-radius: 10px;
}

html{
  scroll-behavior: smooth;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

body{
  font-family: var(--body-font);  
  background-color: black; 
  color: var(--text-color-light);
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: var(--max-width-container);
    padding: 0 1rem;  
  }

button {
  padding: 0.5rem 1.2rem;
  background-color: var(--base-color-alt);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

button:hover{
  background-color: #000000;
  border:1px solid var(--base-color-alt);
  color: white;
}
/* NAV STYLES */

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover{
  color: var(--base-color-alt);
  -webkit-font-smoothing:auto  
}

nav ul li a::after{
  content: '';
  width: 0%;
  height: 1px;
  background: var(--base-color);
  position: absolute;
  left: 0;
  bottom: -0.6rem; 
  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after{
  width: 100%;
  
}

.nav {
  display: flex;
  align-items:center;
  justify-content: space-between; 
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);

   margin: 0 auto;
   max-width: var(--max-width-container);
   padding: 0 1rem; 

 
 }

 .nav-links a {
  color: var(--text-color-light);
 }

 .logo{
   font-size: 1.3rem;
 }
 .menu {
  display: flex;
  font-size: 1.1rem;

 } 
 .menu li {
  padding: 5px 14px;
 }

 /* HOME */

#home{
  display: flex;
  align-items: center; 
  height: 100vh;
  gap: 4rem;
 
}

#home img{
 width: 20rem;
 height: 20rem;
 border-radius: 50%;

}

#home h1{
  color: var(--base-color-alt);
}

.home-container-img{
  text-align: center;
}

/* SERVICES */

#services i{
  font-size: 2rem;
  color: var(--base-color-alt);

}

h4{
  color: var(--base-color-alt) ;
}

#services{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-card-container{
  display: flex;  
  align-items: center; 
  /* flex-wrap: wrap; */
  gap: 0.8rem;
}

.service-card{
  margin-top: 1rem;
  background-color: #191A19;
  height: 5rem;
  width: 2rem; 
  flex: 1;
  box-shadow: 0px 4px 27px -3px #000000; 
  padding: 1rem;  
  border-bottom: 0.5px solid var(--base-color-alt);
}

.service-card:hover{
  border-bottom: 0.5px solid var(--base-color-alt);
  background-color: black;
  cursor: pointer;
}
/* 
 /* Estilização footer */

 .clear{
  clear: both;
}
footer{
  border-top: 0.5px solid ;
  border-color: rgba(33,101,101,10);
  padding: 10px 2%;
  background-color: black;
}
footer .footer-wrapper{
  max-width: 100%;
}
footer .footer-block{
  float: left;
  text-align: center;
  width: 25%;
}
.footer-block h2{
  color: hsl(var(--hue) 57% 53%);
  font-weight: normal;
  font-size: 12px;
}
.footer-block p, a{
  margin-top: 5px;
  padding-top: 3px;
  text-decoration: none;
  color: var(--text-color-light);
  font-size: 8px;
}

footer .social{
  padding: 5px;
}

footer .direitos h2{
  padding-top: 10px;
  text-align: center;
  font-size: 6px;
  color: rgba(33,101,101,10);
}
/*

/* Social Icons */
footer .fa-brands{
  padding: 3px 3px;
  margin: 4px 2px;
  opacity: 0.4;
  color: hsl(var(--hue) 57% 53%);
  -webkit-transition: -webkit-transform .8s ease-in-out;
  -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;  
}
/* Fim da estilização do Footer */

/* Efeito de Girar Social Icons */
.fa-brands:hover {
  transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  opacity: 1;
  color: hsl(var(--hue) 57% 53%);
}
 /* Hover Link */
 footer .link:hover {
  color: hsl(var(--hue) 57% 53%);
}

/* Responsivo */
@media screen and (max-width: 470px){
  footer{
		text-align: center;
	}

	footer .footer-block{
	float: none;
	width: 100%;
	margin:30px 0;
	}

  footer .sobre{
    padding-left: 0;
  }
  
}
